<div class="main-content">
    <div class="card branchCard">
        <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
                <i class="material-icons"></i>
            </div>
            <h4 class="card-title">Branch Manager (Budi)</h4>
        </div>
        <div class="card-body">
            "Quote"
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title text-center">Coach</h4>
                </div>
                <div class="card-content table-responsive table-full-width">
                    <table class="table text-center table-hover table-bordered">
                        <thead class="text-danger">
                            <th>No</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Gender</th>
                            <th>Status</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Anto</td>
                                <td>XX</td>
                                <td>Male</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Anto</td>
                                <td>XX</td>
                                <td>Male</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Anto</td>
                                <td>XX</td>
                                <td>Male</td>
                                <td>Active</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title text-center">Administrative</h4>
                </div>
                <div class="card-content table-responsive table-full-width">
                    <table class="table text-center table-hover table-bordered">
                        <thead class="text-danger">
                            <th>No</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Gender</th>
                            <th>Status</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Anto</td>
                                <td>XX</td>
                                <td>Male</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Anto</td>
                                <td>XX</td>
                                <td>Male</td>
                                <td>Active</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title text-center">OB</h4>
                </div>
                <div class="card-content table-responsive table-full-width">
                    <table class="table text-center">
                        <thead class="text-danger">
                            <th>No</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Gender</th>
                            <th>Status</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Anto</td>
                                <td>XX</td>
                                <td>Male</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Anto</td>
                                <td>XX</td>
                                <td>Male</td>
                                <td>Active</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title text-center">Staff</h4>
                </div>
                <div class="card-content table-responsive table-full-width">
                    <table class="table text-center">
                        <thead class="text-danger">
                            <th>No</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Gender</th>
                            <th>Status</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Anto</td>
                                <td>XX</td>
                                <td>Male</td>
                                <td>Active</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>