<div class="loginPlace">
    <div class="card">
            <div class="card-header card-header-danger text-center">
                <h4 class="card-title">Login</h4>
            </div>
            <div class="card-body">
                <form>
                    <mat-form-field class="usernameLogin">
                        <input matInput type="text" placeholder="Username" id="unLogin" value="dicky">
                    </mat-form-field>
                    <mat-form-field class="passLogin">
                        <input matInput type="password" placeholder="Password" id="pwLogin" value="111111">
                    </mat-form-field>
                    <button mat-raised-button color="primary" class="submit" (click)="onSubmit()" >Submit</button>
                </form>
            </div>
        </div>
</div>