<div class="loginPlace" [ngStyle]="showSpinner ? formOnLoad() : ''">
    <div class="card">
            <div class="card-header card-header-danger text-center">
                <h4 class="card-title">Login</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="form">
                    <mat-form-field class="usernameLogin" >
                        <input matInput type="text" placeholder="Username" id="unLogin" required formControlName="username">
                        <mat-error *ngIf="username.invalid">{{getUsernameErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="passLogin" >
                        <input matInput type="password" formControlName="password" required placeholder="Password" id="pwLogin">
                        <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <button [disabled]="!form.valid" mat-raised-button color="primary" class="submit" (click)="onSubmit()" >Submit</button>
                </form>
            </div>
        </div>
</div>

<div class="spinner" *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
</div>