<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title text-center">06.00 - 11.59</h4>
            </div>
            <div class="card-content table-responsive table-full-width">
                <table class="table text-center table-hover table-bordered">
                    <thead class="text-danger">
                        <th>ID</th>
                        <th>Class</th>
                        <th>Coach</th>
                        <th>Attended</th>
                    </thead>
                    <tbody>
                        <tr (click)="scheduleDetail(1)">
                            <td>1</td>
                            <td>Yoga</td>
                            <td>Nigga</td>
                            <td><i class="material-icons">check</i></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Zumba</td>
                            <td>Budi</td>
                            <td><i class="material-icons">check</i></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Body Combat</td>
                            <td>Anto</td>
                            <td><i class="material-icons">check</i></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Physics Exercise</td>
                            <td>Rando</td>
                            <td><i class="material-icons">check</i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title text-center">12.00 - 17.59</h4>
            </div>
            <div class="card-content table-responsive table-full-width">
                <table class="table text-center table-hover table-bordered">
                    <thead class="text-danger">
                        <th>ID</th>
                        <th>Class</th>
                        <th>Coach</th>
                        <th>Attended</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>6</td>
                            <td>Yoga</td>
                            <td>Nigga</td>
                            <td><i class="material-icons">check</i></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Zumba</td>
                            <td>Budi</td>
                            <td><i class="material-icons">close</i></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Body Combat</td>
                            <td>Anto</td>
                            <td><i class="material-icons">close</i></td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>Physics Exercise</td>
                            <td>Rando</td>
                            <td><i class="material-icons">close</i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title text-center">18.00 - 22.00</h4>
            </div>
            <div class="card-content">
                <table class="table text-center table-hover table-bordered table-responsive table-full-width">
                    <thead class="text-danger">
                        <th>Class</th>
                        <th>Coach</th>
                        <th>Member</th>
                        <th>Attended</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12</td>
                            <td>Yoga</td>
                            <td>Nigga</td>
                            <td><i class="material-icons">check</i></td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>Zumba</td>
                            <td>Budi</td>
                            <td><i class="material-icons">check</i></td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>Body Combat</td>
                            <td>Anto</td>
                            <td><i class="material-icons">check</i></td>
                        </tr>
                        <tr>
                            <td>25</td>
                            <td>Physics Exercise</td>
                            <td>Rando</td>
                            <td><i class="material-icons">close</i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>