<div class="main-content">
    <button mat-raised-button class="btn btn-info pull-left" [routerLink]="['/form-switch']"
        routerLinkActive="router-link-active"><i class="material-icons">cached</i>&nbsp;Switch Coach</button>
    <button mat-raised-button class="btn btn-info pull-right" [routerLink]="['/form-schedule']"
        routerLinkActive="router-link-active"><i class="material-icons">add</i>&nbsp;Create Schedule</button>
    <div class="group">
        <div class="item line border-white"></div>
        <div class="item text white">Today Schedule</div>
        <div class="item line border-white"></div>
    </div>
    <table-today-schedule></table-today-schedule>
    <!-- <div cdkDropListGroup>
        <div class="row">
            <div class="col-lg-6">
                <div class="example-container">
                    <h2>To do</h2>

                    <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="example-container">
                    <h2>Done</h2>

                    <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

</div>