<div class="main-content">
    <button mat-raised-button class="btn btn-info pull-right" [routerLink]="['/form-schedule']" routerLinkActive="router-link-active" ><i class="material-icons">add</i>&nbsp;Create Schedule</button>
    <div class="group">
        <div class="item line"></div>
        <div class="item text">Today Schedule</div>
        <div class="item line"></div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title text-center">06.00 - 11.59</h4>
                </div>
                <div class="card-content table-responsive table-full-width">
                    <table class="table text-center table-hover table-bordered">
                        <thead class="text-danger">
                            <th>Class</th>
                            <th>Coach</th>
                            <th>Member</th>
                            <th>Attended</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Yoga</td>
                                <td>Nigga</td>
                                <td>50</td>
                                <td><i class="material-icons">check</i></td>
                            </tr>
                            <tr>
                                <td>Zumba</td>
                                <td>Budi</td>
                                <td>10</td>
                                <td><i class="material-icons">check</i></td>
                            </tr>
                            <tr>
                                <td>Body Combat</td>
                                <td>Anto</td>
                                <td>20</td>
                                <td><i class="material-icons">check</i></td>
                            </tr>
                            <tr>
                                <td>Physics Exercise</td>
                                <td>Rando</td>
                                <td>25</td>
                                <td><i class="material-icons">check</i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title text-center">12.00 - 17.59</h4>
                </div>
                <div class="card-content table-responsive table-full-width">
                    <table class="table text-center">
                        <thead class="text-danger">
                            <th>Class</th>
                            <th>Coach</th>
                            <th>Member</th>
                            <th>Attended</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Yoga</td>
                                <td>Nigga</td>
                                <td>50</td>
                                <td><i class="material-icons">check</i></td>
                            </tr>
                            <tr>
                                <td>Zumba</td>
                                <td>Budi</td>
                                <td>10</td>
                                <td><i class="material-icons">close</i></td>
                            </tr>
                            <tr>
                                <td>Body Combat</td>
                                <td>Anto</td>
                                <td>20</td>
                                <td><i class="material-icons">close</i></td>
                            </tr>
                            <tr>
                                <td>Physics Exercise</td>
                                <td>Rando</td>
                                <td>25</td>
                                <td><i class="material-icons">close</i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title text-center">18.00 - 22.00</h4>
                </div>
                <div class="card-content table-responsive table-full-width">
                    <table class="table text-center">
                        <thead class="text-danger">
                            <th>Class</th>
                            <th>Coach</th>
                            <th>Member</th>
                            <th>Attended</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Yoga</td>
                                <td>Nigga</td>
                                <td>50</td>
                                <td><i class="material-icons">check</i></td>
                            </tr>
                            <tr>
                                <td>Zumba</td>
                                <td>Budi</td>
                                <td>10</td>
                                <td><i class="material-icons">check</i></td>
                            </tr>
                            <tr>
                                <td>Body Combat</td>
                                <td>Anto</td>
                                <td>20</td>
                                <td><i class="material-icons">check</i></td>
                            </tr>
                            <tr>
                                <td>Physics Exercise</td>
                                <td>Rando</td>
                                <td>25</td>
                                <td><i class="material-icons">close</i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>