<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title text-center">Add Schedule Form</h4>
            </div>
            <div class="card-content">
                <div class="row formRow">
                    <div class="col-lg-12">
                        <form-schedule></form-schedule>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>