<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title text-center">Add Schedule Form</h4>
            </div>
            <div class="card-content">
                <div class="row formRow">
                    <div class="col-lg-12">
                        <form>
                            <mat-form-field class="formField">
                                <input matInput type="text" placeholder="Class Name" id="nameForm">
                            </mat-form-field>
                            <mat-form-field class="formField">
                                <input matInput [matDatepicker]="picker" (focus)="picker.open()"
                                    placeholder="Choose date">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field class="formField">
                                <input matInput atp-time-picker placeholder="Start Time" />
                            </mat-form-field>
                            <mat-form-field class="formField">
                                <input matInput atp-time-picker placeholder="End Time" />
                            </mat-form-field>
                            <button mat-raised-button color="primary" class="submit">Add Class</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>