<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Coach 1
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
            <mat-list-item>
                <div class="row" style="width: 100%;">
                    <div class="col-lg-4">
                        28 November 2019
                    </div>
                    <div class="col-lg-4" style="text-align: center;">
                        16:25
                    </div>
                    <div class="col-lg-4" style="text-align: end;">
                        Yoga
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div class="row" style="width: 100%;">
                    <div class="col-lg-4">
                        28 November 2019
                    </div>
                    <div class="col-lg-4" style="text-align: center;">
                        16:25
                    </div>
                    <div class="col-lg-4" style="text-align: end;">
                        Yoga
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div class="row" style="width: 100%;">
                    <div class="col-lg-4">
                        28 November 2019
                    </div>
                    <div class="col-lg-4" style="text-align: center;">
                        16:25
                    </div>
                    <div class="col-lg-4" style="text-align: end;">
                        Yoga
                    </div>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Coach 2
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list-item>
            <div class="row" style="width: 100%;">
                <div class="col-lg-4">
                    28 November 2019
                </div>
                <div class="col-lg-4" style="text-align: center;">
                    16:25
                </div>
                <div class="col-lg-4" style="text-align: end;">
                    Yoga
                </div>
            </div>
        </mat-list-item>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Coach 3
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list-item>
            <div class="row" style="width: 100%;">
                <div class="col-lg-4">
                    28 November 2019
                </div>
                <div class="col-lg-4" style="text-align: center;">
                    16:25
                </div>
                <div class="col-lg-4" style="text-align: end;">
                    Yoga
                </div>
            </div>
        </mat-list-item>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Coach 4
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list-item>
            <div class="row" style="width: 100%;">
                <div class="col-lg-4">
                    28 November 2019
                </div>
                <div class="col-lg-4" style="text-align: center;">
                    16:25
                </div>
                <div class="col-lg-4" style="text-align: end;">
                    Yoga
                </div>
            </div>
        </mat-list-item>
    </mat-expansion-panel>
</mat-accordion>