<form [formGroup]="form" class="loginForm" [ngStyle]="showSpinner ? formOnLoad() : ''">
    <mat-form-field class="usernameLogin">
        <input matInput type="text" placeholder="Username" id="unLogin" required formControlName="username"
            value="dicky">
        <mat-error *ngIf="username.invalid">{{getUsernameErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="passLogin">
        <input matInput type="password" formControlName="password" required placeholder="Password" id="pwLogin"
            value="111111">
        <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    <!-- [disabled]="!form.valid" -->
    <button mat-raised-button color="primary" class="submit" (click)="onSubmit()">Submit</button>
</form>


<div class="spinner" *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
</div>